.Button {
  padding: 10px 20px;
  width: 100%;
  max-width: 400px;
  background-color: transparent;
  border: 1px solid chartreuse;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.4s;

  &:hover {
    background-color: chartreuse;
  }
}
